ul {
  list-style-type: none;
  margin-top: 2%;
  margin-left: 1%;
  padding: 0;
  position: fixed;
  overflow: auto;
  border: 5px solid #FFFAF0;
  width: 30%;
  height: 100%;
  background-color: #f1f1f1;
  opacity: 0.7;
}
.nav-bar{
	position: fixed;
}
a{
	font-weight: bold;
	font-size: 230%;
}
li a {
  display: block;
  color: #000000;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-left: 2%;
  text-decoration: none;
  background-color: #f1f1f1;
}
/* Change the link color on hover */
li #visited:active{
	color: #ffffff;
	background: #9932CC;
}
li #visited:visited{
	color: #ffffff;
	background: #9932CC;
}
li a:hover {
  background-color: #DDA0DD;
  color: #FFFAFA;
}
nav.background{
   width: 500px;
	float: right;
	margin-top:0px;
	margin-right: 5%;
}
#imgBGHome img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #FFFAF0;
	border-radius: 50%;
}
#imgBGValentine img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #000000;
	border-radius: 50%;
}
#imgBGBuulong img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #000000;
	border-radius: 50%;
}
#imgBGLongxuyen img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #000000;
	border-radius: 50%;
}
#imgBGTrinh img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #000000;
	border-radius: 50%;
}
#imgBGNPLT img{
	transform: rotate3d(1,1,1,360deg);
    transition: all 1s ease-in-out;
	float: right;
	width: 750px;
	height: 600px;
	margin-right: 10%; 
	border: 3px solid #000000;
	border-radius: 50%;
}
.background{
	position: relative;
	transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    
}
.background:hover{
	transform: rotateY(180deg);
}
.background .content{
	transform: rotateY(180deg);
	backface-visibility: hidden;
	float: left;
	font-size: 100%;
	width: 50%;
	margin-right: 10%; 
	text-align: center;
}
body{
	background-image: url('https://lh3.googleusercontent.com/w4sJkdBE2FKFLkk2OgEhbuqEsqZk1ecqWdwePPr3NAtQYN9lvx-eRmZU46D3krREfdad0XWBj2HFAvCP3U4IaTt9CuREM1ilUSnLurtfblI5YcBnSHyuQ2wpJD1kUCeXJ-W6CZNb6GingVGoZv4BXw0T1ErEFfWyBM7MrFT9TWPq_vt4qg8ArJmg6TQjC1yNybPeWJR0gjW-pB2lm7d4aD1l1UrieD1z2HsP5wkV8Z7adVgb6ryD3jKbp_m8g6QXk0e9C74KIhRMg3aNgEFl_JP78A_ILbGdufEOSRNMAkSZFgqS94QkqBI5jV5gO87-x4heBpXnlP9IVmo5D3dw67IO5fC4Yaf2tsQRlF2CsbHQDTDdYO9MCjuJtJ6dyoR1Sx-Fb5iJfoQVLOIUm18IghqNOhGGTdxAt2xMY9Ubom6ozO8X-MpXoL0iQ_LLocf12ZOAr7SLEOt5H9D9636Dt8ulROWCyHTqN9s2twpm-EEdcT19QLsqWw7CoJOqYxVsONRiQ38buGT7G1bJTyKivIQNF2HKZtooIX-e_7LRVS3v39g7TjIkMKrVJeu1CYrHAkZLucXtYtpqtnAe69fNwH0Bh_jbOQRdxR4dDLs5aw7mmn-0Z9L74OpNq0_4xDm3jVWlVt538m3d6duwL6Lz3_JCDTuMxp-O_HYE3ceZHJndln4F80nBXCzANM7lLg=w432-h333-no');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;  
    
}

