.navBar ul {
  list-style-type: none;
  margin-top: 2%;
  margin-left: 1%;
  padding: 0;
  position: fixed;
  overflow: auto;
  border: 5px solid #FFFAF0;
  width: 30%;
  height: 100%;
  background-color: #f1f1f1;
  opacity: 0.7;
}
a{
  font-weight: bold;
  font-size: 230%;
}
li a {
  display: block;
  color: #000000;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-left: 2%;
  text-decoration: none;
  background-color: #f1f1f1;
}
/* Change the link color on hover */
li #visited:active{
  color: #ffffff;
  background: #D2691E;
}
li #visited:visited{
  color: #ffffff;
  background: #D2691E;
}
li a:hover {
  background-color: #B8860B;
  color: white;
}
.image img{
  float: left;
  width: 300px;
  height: 300px;
  margin: 1.1%;
  border: 3px solid #FFFAF0;
}

.image{
  transform: translate(1.2%);
  transition: all 1s ease-in-out;
  display: block;
  width: 30%;
  float: right; 
  margin-top: 1.3%;
}
nav.image-contain{
  float: right;
  width: 72%;
  height: 100%;
}

#main{
  transform: rotate(10deg);
}
@media only screen and (max-width: 1024px){
      .image img{
        float: left;
        width: 250px;
        height: 250px;
        margin: 1.1%;
        border: 1px solid #FFFAF0; 
      }
      .navBar ul{
        list-style-type: none;
        margin-top: 2%;
        margin-left: 1%;
        padding: 0;
        position: fixed;
        overflow: auto;
        border: 5px solid #FFFAF0;
        width: 10%;
        height: 100%;
        background-color: #f1f1f1;
        opacity: 0.7;
      }
      a{
       font-weight: bold;
       font-size: 100%;
}
      nav.image-contain{
      float: right;
      width: 85%;
      height: 100%;

}
      .image{
  transform: translate(1.2%);
  transition: all 1s ease-in-out;
  display: block;
  width: 40%;
  float: right; 
  margin-top: 1.3%;
}
}@media only screen and (max-width: 770px){
      .image img{
        float: left;
        width: 200px;
        height: 200px;
        margin: 1.1%;
        border: 1px solid #FFFAF0; 
      }
      .navBar ul{
        list-style-type: none;
        margin-top: 2%;
        margin-left: 1%;
        padding: 0;
        position: fixed;
        overflow: auto;
        border: 5px solid #FFFAF0;
        width: 10%;
        height: 100%;
        background-color: #f1f1f1;
        opacity: 0.7;
      }
      a{
       font-weight: bold;
       font-size: 100%;
}
      nav.image-contain{
      float: right;
      width: 85%;
      height: 100%;
}
.image{
  transform: translate(1.2%);
  transition: all 1s ease-in-out;
  display: block;
  width: 40%;
  float: right; 
  margin-top: 1.3%;
}
}
@media only screen and (max-width: 500px){
      .image img{
        float: left;
        width: 100px;
        height: 100px;
        margin: 1.1%;
        border: 1px solid #FFFAF0; 
      }
      .navBar ul{
        list-style-type: none;
        margin-top: 2%;
        margin-left: 1%;
        padding: 0;
        position: fixed;
        overflow: auto;
        border: 5px solid #FFFAF0;
        width: 10%;
        height: 100%;
        background-color: #f1f1f1;
        opacity: 0.7;
      }
      a{
       font-weight: bold;
       font-size: 100%;
}
      nav.image-contain{
      float: right;
      width: 85%;
      height: 100%;
}
.image{
  transform: translate(1.2%);
  transition: all 1s ease-in-out;
  display: block;
  width: 40%;
  float: right; 
  margin-top: 1.3%;
}
}
body{
  background-image: url('https://lh3.googleusercontent.com/tlQzyYrRr-O4RHhfBe31BdSP6IwqYOthBGySFZ6mvxmHUKn7OR8LRDiuV2IBRvLv9vHnRl0xmviOgHmuk8nm8zvdbXzZj6y7tnHMWms9c63d8FbbWS6NrPL4E3T8LjNo_cb7uHLs6g=w1920-h1080');
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;  
    
}
